:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
body {
  display: flex;
  align-items: center;
  justify-content: center;

}

main {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  margin-top: 150px;

  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    border: solid black 1px;
    height: 150px;
  }
}
